.bluff-view {
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;*/
    flex: 1 0 0;
    align-self: stretch;
    text-align: center;
}

.instruction-text {
    align-items: center;
    padding: var(--spacing-s);
}

.selected-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-mask {
    width: 224px;
    height: 308px;

    display: flex;

    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    /*padding: 4px;*/
    border: 4px solid rgb(242, 242, 242);
    color: #fff;
}

.selected-card img {
    width: 400%;

}