.wrapper-styler{
    margin-left: var(--spacing-m);
    margin-right: var(--spacing-m);
    overflow: hidden;
    border-radius: var(--spacing-m);
    display: flex;
    align-self: stretch;
    flex-direction: column;
    background-color: var(--main-2);
    border: 1px solid var(--main-3);
}

.wait-text{
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.swiper-vue-container{
    
}

.card-selector-action{
    z-index: 100;
    background-color: var(--main-1);;
}