.leaderBoard-container {
    display: flex;
    padding: var(--spacing-m) var(--spacing-s);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-s);
    margin: 0 auto;
    width: calc(100% - var(--spacing-s));
}