.header-container {
  display: flex;
  height: 56px;
  padding: var(--spacing-s) var(--spacing-m);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--grey-1,#DFDFDF);
  background: var(--background-color, #FFF);
}

.header {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.menu-container {

display: flex;
flex-direction: row;
width: 80px;
align-items: center;
}

.menu-img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 32px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.menu-text {
  text-align: left;
  align-self: center;
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
}

.title-container {
  
  display: flex;
  
  justify-content: center;
  flex:1;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.solid{ 
  width: 80px;
  height: 32px; 
}