.main-container {
  justify-content: center;
  align-self: stretch;
  border-bottom: 1px solid var(--grey-1-grey-moon, #dfdfdf);
  background-color: var(--principal-white, #fff);
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 12px 16px;
}

.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  gap: 20px;
}

@media (-width: 991px) {
  .header {
    justify-content: center;
  }
}

.img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 32px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
}

.menu-button {
  color: var(--principal-ideas, #000);
  text-align: right;
  align-self: center;
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 700 14px/24px Roboto, -apple-system,oto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .menu-button {
    white-space: initial;
  }
}

.title {
  color: #000;
  text-align: center;
  margin: auto 0;
  font: 700 16px/24px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.div-6 {
  background-color: var(--principal-white, #fff);
  display: flex;
  height: 32px;
  flex-direction: column;
  flex: 1;
}