.header-container {

  display: flex;
  flex-direction: row;

  height: var(--spacing-xxl);
  padding: var(--spacing-s);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  /*border-bottom: 1px solid var(--grey-1);*/
  background: var(--main-1);

}

/*.menu-container {
  display: flex;
  padding: var(--spacing-s) var(--spacing-l);
  flex: 1;
  flex-direction: row;
  align-items: center;
}*/

.header-action{
  height: 40px;
  font-size: var(--fs-h4);
  text-transform: none;
  gap: var(--spacing-xs);
}

.menu-img {
  width: var(--fs-h3);
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*.menu-text {
  text-align: left;
  align-self: center;
  flex-grow: 1;
  white-space: nowrap;
}*/

.title-container {
  padding: 0 var(--spacing-s);
  display: flex;  
  width: fit-content;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

/*.solid {
  flex: 1;
  background-color: aqua;
}*/