.double-action-container {
    display: flex;
    padding: 0 var(--spacing-m);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-m);
    align-self: stretch;
}

.double-action-btn-layout {
    flex-direction: row;
    gap: var(--spacing-l);
}

.double-action-btn-layout button {
    flex: 1;
    flex-direction: column;
    justify-content: flex-end; 
    height: 10rem;
    padding: var(--spacing-m);
}

.double-action-btn-layout img {
    width: var(--spacing-j);
}