.main-container {
  align-items: center;
  border-bottom: 1px solid var(--grey-3-middle-light, #aaa);
  display: flex;
  margin-top: 16px;
  width: 100%;
  max-width: 358px;
  flex-direction: column;
  padding: 24px 16px;
}

.title {
  color: #000;
  align-self: stretch;
  font: 400 18px/24px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.input-container {
  color: var(--grey-4-night-grey, #404040);
  align-self: start;
  white-space: nowrap;
  margin: 24px 0 0 10px;
  font: 400 14px/24px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .input-container {
    white-space: initial;
  }
}

.input {
  align-items: center;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--interaction-enabled, #000);
  background-color: var(--White, #fff);
  display: flex;
  margin-top: 4px;
  height: 40px;
  flex-direction: column;
}

.join-session-button {
  color: var(--principal-ideas, #000);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 16px;
  border: 2px solid var(--principal-ideas, #000);
  background-color: var(--principal-white, #fff);
  margin-top: 24px;
  padding: 12px 60px;
  font: 400 14px/24px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}


  @media (max-width: 280px) {
  .join-session-button {
    white-space: initial;
    padding: 0 20px;
  }
}