
.lb-container {
  display: flex;
  flex-direction: row;
  height: 48px;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey-1, #dfdfdf);
  background-color: var(--background-color);
  gap: 0px;
}

.rank-container,
.score-container{
  justify-content: center;
  padding: 8px;
  background: var(--grey-5);
  width: auto;
  height: 100%; 
}

.rank-number, 
.score-number {
  text-align: center;
  width: 42px /*fixed width in figma*/
}

.text-container{
flex: 1;
flex-direction: row;
flex-grow: 1; /* Allows the container take up the remaning space */ 
padding: 8px;
gap: 4px;
align-items: center;
background-color: var(--secondary-color);
width: 100%;
height: 100%;


} 

.user-text{
  flex: 1;
  text-align: left;
  color: var(--primary-color);
  

}

.cards-text
{
  flex: 1;
  text-align: right;
  color: var(--primary-color);
  
  

}


