.session-container {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background-color: var(--grey-5);
  color: var(--primary-color);
  text-align: center;
  border-bottom: 1px solid var(--grey-6, #d4d4d4);
}

