/*The ONLY style that should be here is layout*/
/*NO absolut value, always var()*/
.single_action_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs);
    padding: var(--spacing-s) var(--spacing-m);
}