/* Style for TESTING */

.test-players-container {
  border: solid 1px red;
}

.test-body {
  margin: 0;
  display: flex;
  place-items: left;
  max-width: 800px;
  min-width: 320px;
  min-height: 100vh;
}

.test-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.test-button:hover {
  border-color: #646cff;
}

.test-button:focus,
.test-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}